.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  font-family: sans-serif;
  color: palevioletred;
  background-color: pink;
}
button {
  margin: 50px;
  width: 100px;
  height: 35px;
  font-family: sans-serif;
  font-weight: bolder;
  border: solid 2px rgb(253, 1, 85);
  border-radius: 5px;
  color: rgb(232, 12, 85);
  background-color: pink;
  box-shadow: 0.6px 0.6px 5px 0px rgb(124, 33, 63);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}
button:hover {
  color: pink;
  background-color: rgb(232, 12, 85);
}
label {
  padding-inline: 50%;
  color: red;
  font-weight: bolder;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
